.hobby-item img{
    width: 65px;
    margin-bottom: 1rem;
}
.hobby {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.hobby-item{
    padding: 3rem;
    margin: 3rem;
    min-width: 200px;
    background:#1d293a ;
    border-radius: 8px;
    margin-bottom: 100px;
}
